$accentColor: linear-gradient(186deg, #fecc00 0%, #b9762e 100%);
$accentActive: linear-gradient(186deg, #fecc00 0%, #b9762e 100%);
$accentHover: linear-gradient(186deg, #ffffff 0%, #ffffff 100%);
$bacgroundColor: hsla(0, 0%, 80%, 0.253);
