*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &.fixed-page {
    overflow: hidden;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.btn {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 28px;
  background-image: $accentColor;
  margin: 0 10px;
  transition: 0.5s;
  a {
    text-transform: uppercase;
    color: #fff;
  }

  &:hover {
    background: $accentHover;
    a {
      color: #000;
    }
  }

  &:active {
    background: $accentActive;
  }
}

.title {
  font-size: 37px;
  font-weight: 400;
  text-align: center;
  color: rgb(133, 131, 131);
}
